<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
	<test name="ChromeTestExecution">
		<parameter name="browser" value="Chrome" />
		<parameter name="url" value="http://www.demoqa.com" />
		<classes>
			<class name="Testcases.TestDemoqa" />
		</classes>
	</test>

	<test name="FirefoxTestExecution">
		<parameter name="browser" value="Firefox" />
		<parameter name="url" value="http://www.demoqa.com" />
		<classes>
			<class name="Testcases.TestDemoqa" />
		</classes>
	</test>


	<test name="IETestExecution">
		<parameter name="browser" value="IE" />
		<parameter name="url" value="http://www.demoqa.com" />
		<classes>
			<class name="Testcases.TestDemoqa" />
		</classes>
	</test>

</suite> 
